.faq-container {
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }
  
  .faq-item {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f3f3f3;
    border-left: 5px solid #8B4513; /* Marron */
    border-radius: 5px;
  }
  
  .faq-item h3 {
    margin-bottom: 8px;
    color: #4a2e00;
  }
  